.titulos {
    font-size: 60px;
    font-weight: 600;
    color: var(--vermelho);
}

.subtitulos {
    font-size: 18px;
    font-weight: 500;
    color: var(--cinza-destaques);
}

.textos {
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-claro);
}

.container__metricas {
    display: flex;
    padding-left: 12vw;
    gap: 2em;
}

.metricas {
    width: 280px;
}